header {
background-color: #5cc19d;
}
.title {
 font-family:  Arial, Helvetica, sans-serif;
   font-size: 2em;
  font-style: bold;
  text-align: center
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.active {
  background-color: #04AA6D;
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  }
  
.grid-container {
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-template-columns: 2fr 1fr 1fr 200px; 
  grid-template-rows: 1fr 1fr 1fr; 
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
  .ul{
    font-family:  Arial, Helvetica, sans-serif;
  }

.outer-wrapper{
        display: inline-block; 
        margin: 20px;
    }
    .frame{  
        width: 250px;
        height: 200px;
        border: 1px solid black;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
    }    
  
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
 align: right;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
 allign: right;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #3b6158;
  color: white;
 font-size: 1em:
}


