header {
background-color: #5cc19d;
  text-align: center;
  font-weight: bold;
  font-size: 3em
}
a {
  display: block;
  padding: 8px;
  background-color: #3b66b0;
  text-align: center;
  color: white;
}
.nav {
  background-color: #3b66b0;
 text-align: vertical;
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

section {
   font-family: verdana;
  font-size: 20px;
  text-align: center;
  background-color: 3b66b0;
}
  
/* Add a black background color to the top navigation */
.nav {
  background-color: black;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: white;
  color: black;
  text-align: center;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #04AA6D;
  color: white;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.grid-container {
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-template-columns: 2fr 1fr 1fr 200px; 
  grid-template-rows: 1fr 1fr 1fr; 
 border-style: solid;
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
  .ul{
    font-family: Minion Pro;
   text-align: center;
  }
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
 vertical-align: top;
}
  
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
 vertical-align: top;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
 vertical-align: top;
}
.row {
  display: flex;
 vertical-align: top;
}

.column {
  flex: 33.33%;
  padding: 5px;
 vertical-align: top;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #3b6158;
  color: white;
  font-size: 20px;
}


