header {
background-color: #5cc19d;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.active {
  background-color: #04AA6D;
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
  grid-container {
  display: grid;
   grid-template-columns: auto auto auto auto;
    gap: 50px 100px;
     border: 1px solid blue;
    
footer {
  text-align: center;
  padding: 3px;
  background-color: #3b6158;
  color: white;
}
