header {
background-color: #5cc19d;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.nav {
  background-color: #04AA6D;
}
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
/* Add a black background color to the top navigation */
.nav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #04AA6D;
  color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #3b6158;
  color: white;
  font-size: 20px;
}


